body {
  padding-left: 5%;
  padding-right: 5%;
}
#displayRow {
  margin-top: 40px;
}
#animalDisplayWindow{
  display: none;
}
#availableHeader {
  text-align: center;
}
#animalDisplayList {
  display: none;
  text-align: center;
  border-style: solid;
  border-radius: 1px;
  border-color: grey;
}
.gender {
  margin-top: 30px;
  margin-bottom: auto;
}
.petform {
  text-align: center;
}
.animalInfo {
  text-align: left;
}
.animalInfo2{
  text-align: center;
}
img {
  height: 200%;
  width: 100%;
  display: inline;
}
